body {
    font-family: sans-serif;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.title {
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
}
  
.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
  
.input_text {
    width: 244px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input_date {
    width: 244px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea {
    width: 244px;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.botoes{
    margin-bottom: 20px;
    align-self: center;
}

#btnCadastro, #btnAlterar{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #4caf50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
#btnCadastro:hover {
    background-color: #45a049;
}

#btnAlterar:hover {
    background-color: #45a049;
}
  
#btnExcluir, #limparCampos {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #f33;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
#btnExcluir:hover, #limparCampos:hover {
    background-color: #f66;
}

  
#btnCarregar, #btnBuscar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #0080ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
#btnCarregar:hover {
    background-color: #39f;
}

#btnBuscar:hover {
    background-color: #39f;
}

#entrada {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultado {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item {
    width: 85%;
    height: 100%;
    background-color: #f0f0f0;
    border: 20px solid #ccc;
    margin: 5px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

img {
    max-width: 100%;
}

/* Pagina offline */

.offline {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    background-color: #f0f0f0;
    border: 20px solid #ccc;
    padding: 10px;
    border-radius: 20px;
}

.offline hr {
    height: 1px;
    width: 200px;
    background-color: black;
}